 .Question1 {
     width: 100%;
     display: flex;
     flex-direction: row;
 }

 #column {
     border: 1px solid black;
 }

 .column1 {
    width: 200px;
    height: 300px;
  }

  .column2 {
    flex-grow: 1;
    min-width: 100px;
    height: 300px;
  }

  .column3 {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 600px) {
      .Question1 {
        overflow: scroll;
      }
  }